<!-- Menu -->
{% extends 'menu.html' %}
{% block content %}

<section id="contact" class="py-5">
    <div class="container">
        <div class="row g-4 align-items-stretch">
            <!-- Formulário -->
            <div class="col-lg-6 d-flex">
                <div class="contact-form-box flex-fill">
                    <h2 class="fw-bold mb-4 text-light text-center" data-key="contact_title">Entre em contacto
                        connosco</h2>
                    <form action="https://formsubmit.co/rodrifigueiredo1983@gmail.com" method="POST" id="contactForm"
                        class="contact-form d-flex flex-column h-100">
                        <div>
                            <div class="mb-3">
                                <label for="name" class="form-label text-light">Nome Completo</label>
                                <input type="text" class="form-control" id="name" placeholder="Tomás Lima" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label text-light">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="tomaslima77@email.com"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label text-light">Mensagem</label>
                                <textarea class="form-control" id="message" rows="3"
                                    placeholder="Escreva a sua mensagem..." required></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning fw-semibold mt-auto">Enviar</button>
                    </form>
                </div>
            </div>

            <!-- Mapa -->
            <div class="col-lg-6 d-flex">
                <div class="map-box flex-fill">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3028.9363821345505!2d-7.952776924893392!3d40.60922724390243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2337d6d8230b37%3A0x42514f718bdd3611!2sVISRECI%20Lda!5e0!3m2!1spt-PT!2spt!4v1761820754717!5m2!1spt-PT!2spt"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mensagem de sucesso -->
<div id="successMessage" class="success-message">
    <div class="success-content">
        <i class="bi bi-check-circle-fill"></i>
        <p>Entraremos em contacto consigo em breve, Obrigado!!</p>
    </div>
</div>

{% endblock %}